meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/publico/css/bootstrap.min.css")
link(rel="stylesheet", href="/publico/css/style.css")
script(src="https://code.jquery.com/jquery-3.6.0.js")
title Negritude em Debate
// NAVBAR
.fixed-top
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand.d-flex.align-items-center(href='/home')
        img(src='/publico/img/Logo_vermelho.PNG' width='60' height='50')
        strong Negritude em Debate
      .collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/projetos') Projetos
          li.nav-item
            a.nav-link(href='/equipe') Equipe
          li.nav-item
            a.nav-link(href='/Contato') Contato
          li.nav-item.active
            a.nav-link(href='/cadastro') Cadastro
      .collapse.navbar-collapse
        ul.navbar-nav.align-items-left
          li.nav-item.active
            a.nav-link(href='/relatorio') Relatorio - Mostra Fotográfica
br
.text-center
  .cover-container.d-flex.h-100.p-3.flex-column.text-light
    div(style="background-image: linear-gradient(to right, rgb(139,69,19), rgb(88, 61, 2));")
      h1.cover-heading.display-1.font-weight-bold Negritude em Debate
      iframe(width="560", height="315", src="https://www.youtube.com/embed/B16z2gs6Fn8", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
      p.lead
        | O projeto “Negritude em Debate MS” (Cpaq/UFMS – Neabi/IFMS/CG) tem objetivo contribuir para reflexão, para valorização da cultura negra no Mato Grosso do Sul, assim como, contribuir para o desenvolvimento da temática "História da África e Cultura Afro-brasileira" nas escolas da rede básica de ensino, nos Institutos Federais do Mato Grosso do Sul (IFMS) e na Universidade Federal do Mato Grosso do Sul (UFMS).
        br
        | 
        Para isso, elaborar material audiovisual para ser trabalhado nas instituições públicas (rede básica de ensino, IFMS e UFMS); Dialogar com os professores por meio de oficinas/cursos/palestras e outras atividades que estejam ligadas ao tema da raça e do gênero. Dentre elas, a mostra fotográfica intitulada “Beleza Negra Resiste”, oficina de pintura orgânica e Oficina pedagógica.
        br
        | 
        O foco do material audiovisual é de trabalhar com as Comunidades Quilombolas de Mato Grosso do Sul, entre elas, Comunidade Negra Rural Quilombola da Furna dos Baianos (Aquidauana/MS), a Comunidade Remanescente de Quilombos Tia Eva (CG) e a Furnas do Dionísio (CG).
      a.btn.btn-dark.btn-lg(href="/projetos") VEJA NOSSAS AÇÕES
// FOOTER 
footer.text-white.bg-dark.text-center.text-lg-start
  .container.p-3
    .row
      .col-lg-6.col-md-12.mb-4.mb-md-0
        img(src="/publico/img/ufms_logo_negativo_pb_rgb.png", width="150", height="120")
        img(src="/publico/img/neabi.png", width="180", height="120")
        img(src="/publico/img/logo_ifms.JPEG", width="180", height="120")
      .col-lg-3.col-md-6.mb-4.mb-md-0
        h5.text-uppercase
          b REDES SOCIAIS
        ul.list-unstyled.mb-0
          li
            p Facebook: @negritudeemdebatems
          li
            p Instagram: @negritudeemdebatems
          li
            p Youtube: Negritude em Debate MS
  .text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2);")
    p.m-0.text-center.text-white 2021 - IFMS || Victor Casemiro
|