<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/publico/css/bootstrap.min.css">
        <link rel="stylesheet" href="/publico/css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        <title>Projetos</title>
    </head>

    <body>

        <!-- NAVBAR -->
        <div class="fixed-top">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

               <a href="/home" class="navbar-brand d-flex align-items-center" >
                  <img src="/publico/img/Logo_vermelho.PNG" width="60" height="50"></img>
                  <strong>Negritude em Debate</strong>
               </a>

               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/projetos">Projetos</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/equipe">Equipe</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/Contato">Contato</a>
                     </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="/cadastro">Cadastro</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>

      <div class="text-center">
        <div class="cover-container d-flex h-100 p-3 flex-column text-light">
           <div style="background-image: linear-gradient(to right, rgb(139,69,19), rgb(88, 61, 2));">
                <h3 class="cover-heading display-3 font-weight-bold h3">Mostra Fotográfica Beleza Negra Resiste 2020</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SBe5tBAVY_Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="lead">O projeto tem como objetivo visibilizar corporeidades outras que se apresentam fora do padrão estético europeu, como a beleza, a cultura e a ancestralidade negra existentes no Mato Grosso do Sul e que foram historicamente apagadas. Permitindo com isso que esses sujeitos sociais, negras e negros, se auto identifiquem e consigam romper com as estruturas colônias e racistas que persistem ainda no século XXI.</p>
           </div>
        </div>
     </div>

     <div class="text-center">
        <div class="cover-container d-flex h-100 p-3 flex-column text-light">
           <div style="background-image: linear-gradient(to right, rgb(139,69,19), rgb(88, 61, 2));">
                <h3 class="cover-heading display-3 font-weight-bold h3">Palestras, oficinas e capacitação antirracista</h3>
                <img src="/publico/img/Igreja.JPG" width="700" height="450"></img>
                <p class="lead">Como um dos direcionamentos do projeto é o diálogo com/na comunidade escolar, além das atividades externas à escola, como a Mostra fotográfica e o documentário, nossa equipe também se disponibiliza para dialogar diretamente com alunos e/ou professores e coordenadores por meio de palestras, oficinas e capacitações voltadas para educação antirracista.</p>

            </div>
        </div>
     </div>

     <div class="text-center">
        <div class="cover-container d-flex h-100 p-3 flex-column text-light">
           <div style="background-image: linear-gradient(to right, rgb(139,69,19), rgb(88, 61, 2));">
                <h3 class="cover-heading display-3 font-weight-bold h3">Semana da Consciência Negra</h3>
                <img src="/publico/img/Palestra.JPG" width="700" height="450"></img>
                <p class="lead">As atividades propostas na Semana da Consciência Negra objetivam evidenciar a cultura, a história e sobretudo as tantas lutas do povo negro. O evento traz rodas de conversa, palestras, teatro, música, dança e principalmente, agregado a tudo isso, informação e conscientização.</p>
           </div>
        </div>
     </div>
     <br>

      <!--FOOTER -->
    <footer class="text-white bg-dark text-center text-lg-start">
        
        <div class="container p-3">
        
            <div class="row">
                    
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <img src="/publico/img/ufms_logo_negativo_pb_rgb.png" width="150" height="120"></img>
                    <img src="/publico/img/neabi.png" width="180" height="120"></img>
                    <img src="/publico/img/logo_ifms.JPEG" width="180" height="120"></img>
                </div>
        
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"><b>REDES SOCIAIS</b></h5>
        
                    <ul class="list-unstyled mb-0">
                    <li>
                        <p>Facebook: @negritudeemdebatems</p>
                    </li>
                    <li>
                        <p>Instagram: @negritudeemdebatems</p>
                    </li>
                    <li>
                        <p>Youtube: Negritude em Debate MS </p>
                    </li>
                    </ul>
                </div> 
            </div>   
        </div>   
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="m-0 text-center text-white">2021 - IFMS || Victor Casemiro</p>
        </div>
        
        </footer>    
    </body>
</html>>